{% extends  'radiologist/homepage.html' %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card profile-header">
                        <div class="body">
                            <div class="profile-image"> <img src="../assets/images/user.png" class="rounded-circle" alt=""> </div>
                            <div>
                                <h3><strong>Patient Name</strong></h3>
                                <h4 class="m-b-0"><strong>{{user_profile.basic.first_name}}</strong> {{user_profile.basic.last_name}}</h4>
                                <span>{{ user_profile.basic.kebele }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2><strong>Info</strong></h2>

                        </div>
                        <div class="body">
                            <small class="text-muted">Address: </small>
                            <p>{{user_profile.basic.address.region}}
                                {{user_profile.basic.address.zone}}
                                {{user_profile.basic.address.woreda}}
                                </p>
                            <small class="text-muted">Age: </small>
                            <p>{{user_profile.basic.age}}</p>
                            <small class="text-muted">Sex: </small>
                            <p>{{user_profile.basic.sex}}</p>
                            <small class="text-muted">Email address: </small>
                            <p>{{user_profile.basic.email}}</p>
                            <small class="text-muted">Mobile: </small>
                            <p>{{ user_profile.basic.phone }}</p>
                            <small class="text-muted">Birth Date: </small>
                            <p class="m-b-0">October 22th, 1990</p>
                        </div>
                    </div>


                </div>
                {% if specialty == "X-ray" %}
                <div class="col-lg-8 col-md-12">
                    <a class="btn btn-danger float-right"  href="{% url 'remove_from_radiology_list_url' user_profile.id %}">Remove from List</a>
                    <div class="card">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#view_x_ray_request">X-ray Request Detail</a></li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#add_x_ray_result">Add X-ray Result</a></li>
                            </ul>
                            <div class="tab-content mt-3">

                    <div class="tab-pane active" id="view_x_ray_request">
                        <div class="row">
                        <div class="col-md-12">
                            <label class="text-success">Pertinent clinical history, Operation,Physical, Findings & Diagnosis  </label>
                            <div class="form-group">
                                <p>{{rqst.finding_and_diagnosis}}</p>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="text-primary">Examination Requested  </label>
                            <div class="form-group">
                                <p>{{rqst.examination_requested}}</p>
                            </div>
                            </div>
                        </div>
                        </div>

                    </div>
                                <div class="tab-pane " id="add_x_ray_result">
                      <div class="row" >
                        <div class="col-md-12">
                          <div class="card card-primary ">
                            <div class="card-header">
                              <h5 class="card-title">X-ray Result Form</h5>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'request_detail_url' user_profile.id %}" enctype="multipart/form-data" method="POST">
                                    {%csrf_token%}
                                    <div class="form-group">
                                        <label for="inputDescription">Impression </label>
                                        {{ result_form.impression}}
                                    </div>
                                    <div class="form-group">

                                        <label for="inputDescription">X-ray imaging Result: </label>
                                             {{ result_form.x_ray_image }}
                                    </div>
                                    <div class="col-4">
                                        <input type="submit" value="Attach" class="btn btn-success">
                                    </div>
                                </form>
                            <!-- /.card-body -->
                            </div>
                          <!-- /.card -->
                        </div>
                   </div>
                   </div>
                   </div>
                    </div>
                </div>
            </div>

                {% elif specialty == "Ultrasound" %}

                <div class="col-lg-8 col-md-12">
                    <a class="btn btn-danger float-right"  href="{% url 'remove_from_radiology_list_url' user_profile.id %}">Remove from List</a>

                    <div class="card">
                            <ul class="nav nav-tabs-new2">
                                    <li class="nav-item"><a class="nav-link active " data-toggle="tab" href="#view_ultrasound_request">Ultrasound Request Detail</a></li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#add_ultrasound_result">Add Ultrasound Result</a></li>
                            </ul>
                            <div class="tab-content mt-3">

                          <div class="tab-pane active" id="view_ultrasound_request">
                        <div class="row">
                        <div class="col-md-12">
                            <label class="text-success">Organ to be examined </label>
                            <br>
                            <div class="form-group">
                                <p>{{ rqst.organ_to_be_examined}}</p>
                            </div>
                        </div>
                        </div>

                    </div>



                                <div class="tab-pane " id="add_ultrasound_result">
                      <div class="row" >
                        <div class="col-md-12">
                          <div class="card card-primary ">
                            <div class="card-header">
                              <h5 class="card-title">Ultrsound Result Form</h5>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'request_detail_url' user_profile.id %}" enctype="multipart/form-data" method="POST">
                                    {%csrf_token%}
                                    <div class="form-group">
                                        {{ result_from.sonographic_report.errors }}
                                        <label for="inputDescription">Sonographic Report </label>
                                        {{ result_form.sonographic_report}}
                                    </div>
                                    <div class="form-group">
                                        {{ result_form.ultrasound_image.errors }}
                                        <label for="inputDescription">Imaging Result </label>
                                        {{ result_form.ultrasound_image }}
                                    </div>
                                    <div class="col-4">
                                        <input type="submit" value="Attach" class="btn btn-success">
                                    </div>
                                </form>
                            <!-- /.card-body -->
                            </div>
                          <!-- /.card -->
                        </div>
                   </div>
                   </div>
                   </div>
                    </div>
                </div>
            </div>
                 {%endif%}
    </div>
</div>


{% endblock content%}