<!doctype html>
{% extends 'receptionist_dashboard_base.html' %}

{% block navheader %}Doctor Profile {% endblock %}

{% block navheaderlist %}
    <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
    <li class="breadcrumb-item active">Doctor</li>
    <li class="breadcrumb-item active">Doctor profile</li>
{% endblock %}

{% block content %}

    <div class="row clearfix">

                <div class="col-lg-4 col-md-12">
                    <div class="card profile-header">
                        <div class="body">
                            <div class="profile-image"> <img src="../assets/images/user.png" class="rounded-circle" alt=""> </div>
                            <div>

                                <h4 class="m-b-0"><strong>{{patient.first_name}}</strong> {{patient.middle_name}}</h4>
                                <span>Phone:- {{ patient.phone }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2>Info</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <small class="text-muted">Address: </small>
                            <p>{{patient.region}},{{patient.zone}}</p>
                            <p>{{patient.woreda}},{{patient.kebele}}</p>
                            <small class="text-muted">Age:{{patient.age}} </small>
                            <p>{{info.age}}</p>
                            <small class="text-muted">Email address: </small>
                            <p>{{patient.email}}</p>
                            <small class="text-muted">Mobile:{{patient.phone}} </small>
                            <p>{{ info.phone }}</p>
                            <small class="text-muted">Birth Date: </small>
                            <p class="m-b-0">October 22th, 1990</p>
                        </div>
                    </div>


                </div>

                <div class="col-lg-8 col-md-12 ">

                    <div class="card text-center">
                        <strong class="ml-5 mt-2">Assign Department</strong>
                        <div class="row profile_state">
                            <div class="col-lg-12 col-12">

                                <div class="body row">
                                    <p>Department</p>
                                    <select class="form-control">
                                        <option>Emergency</option>
                                        <option>Out Patient</option>
                                    </select>
                                    <input type="submit" class="btn btn-primary " value="Assign">

                                </div>
                            </div>


                        </div>
                    </div>




                </div>
            </div>
      <!-- /.content -->
{% endblock %}