<!doctype html>
{% extends 'pharmacist/homepage.html' %}
{% block navlist %}
    <li class="breadcrumb-item active">patient Prescription</li>
{% endblock navlist%}

{% block content %}
{% if found %}


<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

            <div class="row clearfix">
                {% include '../mini_profile.html' %}
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                      <div class="row" >
                        <div class="col-md-12">
                          <div class="card card-primary ">
                            <div class="card-header">
                              <h5 class="card-title">View Prescription</h5>
                            </div>
                            <div class="card-body">
                                 {% if prescription.all %}
                                <div class="table-responsive">
                                <table class="table m-b-0">
                                    <thead>
                                        <tr>
                                            <th>Prescribed by</th>
                                             <th>Detail</th>
                                            <th>prescription Given Date</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for prescription in prescription %}
                                        <tr>
                                            <td><label>Dr.</label> {{prescription.prescribed_by.basic.first_name}}</td>
                                            <td>{{prescription.prescription_detail}}</td>
                                            <td><p class="m-b-0">{{prescription.prescription_date.date}}</p></td>
                                            <td><a href="{% url 'add_medication_details_url' user_profile.id prescription.id %}" ><button class="btn btn-primary">View detail </button></a></td>
                                        </tr>

                                     {% endfor %}
                                    </tbody>
                                </table>

                            </div>


                                {% else %}
                                    <p> no prescription yet</p>
                                {% endif %}


                            </div>

                            <!-- /.card-body -->

                          </div>
                        </div>
                      </div>
                    </div>
            </div>
</div>
</div>

{% elif notfound %}
    {% include '../search_not_found.html' %}
{% endif %}
{% endblock%}