<!doctype html>
{% extends 'system_admin/homepage.html' %}
{% block navlist %}
    <li class="breadcrumb-item active">user Profile</li>
{% endblock navlist%}

{% block content %}
    <div class="col-lg-4 col-md-12">
                    <div class="card profile-header">
                        <div class="body">
                            <div class="profile-image"> <img src="../assets/images/user.png" class="rounded-circle" alt=""> </div>
                            <div>
                                <h3><strong>User Name</strong></h3>
                                <h4 class="m-b-0"><strong>{{user_profile.first_name}}</strong> {{user_profile.middle_name}}</h4>
                                <span>{{ user_profile..kebele }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2><strong>Info</strong></h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <small class="text-muted">Address: Region Zone Woreda </small>
                            <p>{{user_profile.address.region}}
                                {{user_profile.address.zone}}
                                {{user_profile.address.woreda}}
                                </p>
                            <small class="text-muted">Age: </small>
                            <p>{{user_profile.age}}</p>
                            <small class="text-muted">Sex: </small>
                            <p>{{user_profile.sex}}</p>
                            <small class="text-muted">Email address: </small>
                            <p>{{user_profile.email}}</p>
                            <small class="text-muted">Mobile: </small>
                            <p>{{ user_profile.phone }}</p>
                            <small class="text-muted">Birth Date: </small>
                            <p class="m-b-0">October 22th, 1990</p>
                        </div>
                    </div>


                </div>
{% endblock%}
