<!doctype html>
{% extends  'dashboard_base.html' %}

{% block title %}
    <title>AHCS System Admin Dashboard </title>
{% endblock title%}

{% block navheaderlist %}
    <div class="col-lg-6 col-md-8 col-sm-12">
        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> System Admin </h2>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_admin_homepage_url' %}"><i class="icon-home"></i></a></li>
            {% block navlist %}

            {% endblock navlist%}

        </ul>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
            <div class="col-md-10 offset-md-2">
                <form action="{% url 'search_healthcare_provider_url' %}">
                    <div class="input-group">
                        <input type="search" name="search" class="form-control form-control-lg" placeholder="Type healthcare provider name here">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-lg btn-default"><i class="icon-magnifier"></i></button>
                        </div>
                    </div>
                </form>
            </div>
    </div>

{% endblock navheaderlist%}

{% block main_menu_list%}
    <li><a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Healthcare Providers</span> </a>
                                <ul>
                                    <li><a href="{% url 'add_new_healthcare_provider_url' %}">Add Healthcare Providers</a></li>
                                    <li><a href=#>Manage Hospitals</a></li>
                                    <li><a href=#>Manage Pharmacies</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Healthcare Admins</span> </a>
                                <ul>
                                    <li><a href="{% url 'view_hospital_admins_url' %}">View Hospital Admins</a></li>
                                    <li><a href="{% url 'view_pharmacy_admins_url' %}">View Pharmacy Admins</a></li>
                                </ul>
                            </li>
{% endblock main_menu_list%}

{% block content %}

      <!-- /.content -->
 {% endblock %}
