

                                    <h4 >Latest Vital sign</h4>
                                    <p class="m-b-0 text-right"><b>Date: </b>{{vital_sign.taken_date.date}}</p>
                                    <p class="m-b-0 text-right"><b>At: </b>{{vital_sign.taken_date.time}}</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>Weight(Kgs)</strong></label>
                                            <p>{{vital_sign.weight}}</p>
                                            <label><strong>Height(CM)</strong></label>
                                            <p>{{vital_sign.height}}</p>
                                            <label><strong>BMI(Kg/m2)</strong></label>
                                            <p>{{vital_sign.bmi}}</p>
                                            <label><strong>Systolic B.P</strong></label>
                                            <p>{{vital_sign.systolic_BP}}</p>
                                            <label><strong>Diastolic B.P</strong></label>
                                            <p>{{vital_sign.diastolic_BP}}</p>
                                            <label><strong>Temperature(oC)</strong></label>
                                            <p>{{vital_sign.temperature}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label><strong>Respiratory Rate(/Min)</strong></label>
                                            <p>{{vital_sign.respiratory_rate}}</p>
                                            <label><strong>Heart Rate(BPM)</strong></label>
                                            <p>{{vital_sign.heart_rate}}</p>
                                            <label><strong>Urine Output</strong></label>
                                            <p>{{vital_sign.urine_output}}</p>
                                            <label><strong>Blood Sugar(F)</strong></label>
                                            <p>{{vital_sign.blood_sugar_F}}</p>
                                            <label><strong>Blood Sugar(R)</strong></label>
                                            <p>{{vital_sign.blood_sugar_R}}</p>
                                            <label><strong>Comment</strong></label>
                                            <p>{{vital_sign.comment}}</p>
                                        </div>
                                    </div>
