<div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card profile-header">
                        <div class="body">
                            <div class="profile-image"> <img src="../assets/images/user.png" class="rounded-circle" alt=""> </div>
                            <div>

                                <h4 class="m-b-0">Patient Name: <strong>{{user_profile.basic.first_name}}</strong> {{user_profile.basic.last_name}}</h4>
                                <span>{{ user_profile.basic.kebele }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2>Info</h2>
                            <ul class="header-dropdown">

                            </ul>
                        </div>
                        <div class="body">
                            <small class="text-muted">Address:Region Zone Woreda </small>
                            <p>{{user_profile.basic.address.region}},
                                {{user_profile.basic.address.zone}},
                                {{user_profile.basic.address.woreda}}</p>
                            <small class="text-muted">Age: </small>
                            <p>{{user_profile.basic.age}}</p>
                            <small class="text-muted">Email address: </small>
                            <p>{{user_profile.basic.email}}</p>
                            <small class="text-muted">Mobile: </small>
                            <p>{{ user_profile.basic.phone }}</p>
                            <small class="text-muted">Birth Date: </small>
                            <p class="m-b-0">October 22th, 1990</p>
                        </div>
                    </div>


                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="body">
                            <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#appointment">View Appointment</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#referral">View Referral</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#register">Transfer to</a></li>
                            </ul>
                            <div class="tab-content mt-3">


                                <div class="tab-pane active" id="appointment">
                                    <div class="body">
                            <div class="table-responsive">
                                {% if appointment.all %}
                                <table class="table m-b-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>By </th>
                                            <th>Case</th>
                                            <th>Appointment Given Date</th>
                                            <th>Appointment Date</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        {% for appointment in appointment %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td><span>Dr.{{appointment.physician.basic.first_name}} {{appointment.physician.basic.last_name}}</span></td>
                                            <td><span class="text-info">{{appointment.case}}</span></td>
                                            <td>{{appointment.booked_date}}</td>
                                            <td>{{appointment.appointment_date.date}}</td>

                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                    <p>No appointment</p>
                                    {% endif %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                                <div class="tab-pane" id="referral">
                                    <div class="body">
                              <div class="table-responsive">
                                <table class="table m-b-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>By </th>
                                            <th>From [Hospital]</th>
                                            <th>Referral Given Date</th>
                                            <th>Action</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><span>Dr John</span></td>
                                            <td><span class="text-info">Adama Hospital and medical collage</span></td>
                                            <td>Sept 13, 2017</td>
                                            <td><input type="submit" class="btn btn-success" value="Accept"> <input type="submit" class="btn btn-danger" value="Reject"></td>
                                            <td><span class="badge badge-success">Admit</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="register">
                        <div class="body">
                              <div class="table-responsive">
                                  {% if registered %}
                                  <p><strong>Patient is already in triage list</strong></p>
                                  {% else %}
                                  <a href="{% url 'admit_to_triage_url' user_profile.basic.id  %}"><button type="button" class="btn btn-primary">send to triage</button></a>
                                  {% endif %}
                              </div>
                        </div>
                    </div>
                            </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
